@import "./mixin.scss";

html {
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", "Frank Ruhl Libre", sans-serif;
  color: #474b56;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}
ul {
  list-style: none;
  margin-bottom: 0;
}

input:focus,
button:focus,
textarea:focus,
.slick-slide:focus,
select:focus,
img:focus {
  outline: none;
}
input {
  height: 46px;
  @include border-color();
}

input,
textarea {
  text-indent: 10px;
  font-size: 15px;
}
label {
  margin-bottom: 0;
  cursor: pointer;
}

// style for footer
footer {
  background-color: #000;
}
.footer-social {
  padding: 80px 0;
  svg {
    @include transition();
    height: 60px !important;
    width: 60px !important;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    margin: 7px;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}
.footer-line {
  height: 1px;
  background-color: #373940;
}
.footer-contact {
  .row {
    padding: 60px 0;
  }
  h4 {
    font-family: "Frank Ruhl Libre", sans-serif;
    color: #fff;
    font-size: 20px;
  }
  &__subscribe {
    input {
      width: calc(100% - 142px);
    }
    button {
      @include button-subscribe();
      height: 46px;
    }
  }
  &__copyright {
    color: #868b98;
    a {
      color: #868b98;
      @include transition();
      &:hover {
        color: #fff;
      }
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  &__law a {
    margin-right: 7px;
  }
  &__info p {
    margin-bottom: 0;
    color: #868b98;
  }
}
