html {
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Frank Ruhl Libre", "Rubik", sans-serif;
  color: #474b56;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }
  a:focus {
    outline: none; }

ul {
  list-style: none;
  margin-bottom: 0; }

input:focus,
button:focus,
textarea:focus,
.slick-slide:focus,
select:focus,
img:focus {
  outline: none; }

input {
  height: 46px;
  border: 1px solid #8b8b8b4d;
  width: 100%; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 46px; }

input,
textarea,
select {
  text-indent: 10px;
  font-size: 15px;
  color: #474b56; }
  input::placeholder,
  textarea::placeholder,
  select::placeholder {
    color: #474b56; }

label {
  margin-bottom: 0;
  cursor: pointer; }

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

.header-fixed {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: relative;
  z-index: 1; }

.fixed-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  box-shadow: 2px 5px 5px #00000059; }

.header__logo img#logo-green {
  display: none; }

.header-slide {
  height: 700px;
  top: -70px; }
  .header-slide .slick-dots li button:before {
    content: ""; }
  .header-slide .slick-dots {
    bottom: 0px; }
  .header-slide .slick-dots li {
    width: 90px; }
  .header-slide .slick-dots li.slick-active button {
    background-color: #fff;
    height: 3px;
    width: 100%; }
  .header-slide .slick-dots li button {
    background-color: #ffffff40;
    height: 2px;
    width: 100%;
    padding: 0; }
  .header-slide li.slick-active {
    background-color: #fff;
    height: 1px; }
  .header-slide__item {
    position: relative;
    text-align: center; }
    .header-slide__item video {
      object-fit: cover;
      background-size: cover; }
  .header-slide__desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header-slide__desc h1 {
      font-size: 52px;
      color: #fff;
      line-height: 52px;
      font-family: "Frank Ruhl Libre", sans-serif; }
    .header-slide__desc h3 {
      font-size: 12px;
      color: #fff;
      line-height: 16px;
      font-family: "Rubik", sans-serif; }
  .header-slide img {
    height: 700px;
    width: 100%; }

table.table-condensed th.prev.available,
th.next.available,
th.month {
  background-color: #0b3d24;
  color: #fff;
  border-radius: 0 !important;
  padding: 5px; }

.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
  border: solid #fff;
  border-width: 0 2px 2px 0; }

.daterangepicker td.active,
button.applyBtn {
  background-color: #0b3d24; }

button.applyBtn {
  border: none; }

.header-booking {
  height: 46px; }

.header-booking__tablet {
  margin: 0px 10px; }

.header-booking__item {
  width: 100%;
  float: left; }
  .header-booking__item span {
    position: relative; }
    .header-booking__item span::after {
      position: absolute;
      content: "\f073";
      font-family: "Font Awesome 5 Pro";
      top: 0px;
      right: 13px;
      cursor: pointer;
      font-size: 16px;
      color: #0b3d24; }
  .header-booking__item select {
    width: 100%;
    border: 1px solid #8b8b8b4d; }
  .header-booking__item button {
    color: #fff;
    padding: 10px;
    border: none;
    background-color: #0b3d24;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    font-size: 16px;
    line-height: 20px;
    font-family: "Rubik";
    height: 46px;
    width: 100%;
    font-size: 14px;
    padding: 0; }
    .header-booking__item button:hover {
      background-color: #000; }

.header-booking__group .header-booking__item {
  width: 50%; }

.header-booking__select {
  position: relative; }
  .header-booking__select::after {
    position: absolute;
    content: "\f0c0";
    font-family: "Font Awesome 5 Pro";
    top: 16px;
    right: 13px;
    cursor: pointer;
    font-size: 16px;
    color: #0b3d24; }

.sm-clean a .sub-arrow {
  background-color: #0b3d24;
  color: #fff; }

#show-menu-mobile {
  color: #fff; }

.book-room {
  background-color: #f7f9fa;
  text-align: center;
  margin-top: -70px; }
  .book-room img {
    width: 100%; }
  .book-room h1 {
    font-size: 32px;
    font-family: "Frank Ruhl Libre"; }
  .book-room p {
    font-size: 14px;
    font-family: "Rubik"; }
  .book-room button {
    color: #fff;
    padding: 10px;
    border: none;
    background-color: #0b3d24;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    font-size: 16px;
    line-height: 20px;
    font-family: "Rubik"; }
    .book-room button:hover {
      background-color: #000; }
  .book-room__padding {
    padding: 20px 15px;
    display: flex;
    align-items: center; }

.rooms {
  text-align: center;
  padding: 50px 0 50px; }
  .rooms h1 {
    font-size: 36px;
    font-family: "Frank Ruhl Libre"; }
  .rooms__line {
    width: 100%;
    display: flex;
    justify-content: center; }
  .rooms__line-center {
    background-color: #0b3d24;
    height: 1px;
    width: 50px; }
  .rooms p {
    font-size: 12px;
    font-family: "Rubik";
    text-transform: uppercase; }
  .rooms__list-item {
    position: relative;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    object-fit: cover; }
    .rooms__list-item img {
      width: 100%;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
    .rooms__list-item:hover .rooms__list-booking-center {
      transform: translateX(0); }
    .rooms__list-item:hover .rooms__list-name {
      transform: translateY(100%); }
    .rooms__list-item:hover img {
      transform: scale(1.1); }
    .rooms__list-item img.image-hide {
      opacity: 0; }
  .rooms__list-find {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff; }
    .rooms__list-find a {
      font-size: 16px;
      color: #0b3d24; }
      .rooms__list-find a::after {
        padding-left: 7px;
        content: "\f35a";
        font-family: "Font Awesome 5 Pro";
        opacity: 0;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        font-size: 20px;
        margin-top: 5px; }
      .rooms__list-find a:hover::after {
        opacity: 1; }
  .rooms__list-find-content {
    padding: 20px; }
  .rooms__list-booking-center, .rooms__list-name {
    position: absolute;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .rooms__list-booking-center {
    height: 100%;
    width: 92%;
    transform: translateX(-100%);
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; }
  .rooms__list-booking {
    text-align: left;
    padding: 5px; }
    .rooms__list-booking a {
      color: #474b56; }
    .rooms__list-booking h1 {
      font-size: 22px; }
    .rooms__list-booking h3 {
      font-size: 14px;
      color: #0b3d24; }
    .rooms__list-booking p {
      font-size: 14px;
      text-transform: unset;
      padding-bottom: 0px; }
    .rooms__list-booking button {
      color: #fff;
      padding: 10px;
      border: none;
      background-color: #0b3d24;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      font-size: 16px;
      line-height: 20px;
      font-family: "Rubik";
      width: 100%;
      margin-top: 15px; }
      .rooms__list-booking button:hover {
        background-color: #000; }
    .rooms__list-booking span {
      font-family: "Rubik"; }
  .rooms__list-price {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .rooms .checked {
    color: orange; }
  .rooms__list-name {
    font-family: "Rubik";
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 5px 30px; }

.over-text {
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

#to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  padding: 10px 15px;
  background: #0b3d24;
  font-weight: bold;
  color: #ffffff;
  size: 30px;
  display: none;
  font-family: "Font Awesome 5 Pro"; }
  #to-top::after {
    content: "\f077"; }
  #to-top:hover::after {
    content: "\f325"; }

footer {
  background-color: #000; }

.footer-social {
  padding: 80px 0;
  text-align: center; }
  .footer-social svg {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    height: 50px !important;
    width: 50px !important;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    margin: 7px; }
    .footer-social svg:hover {
      background-color: #fff;
      color: #000; }
  .footer-social__logoSocial {
    width: 100%; }

.footer-line {
  height: 1px;
  background-color: #373940; }

.footer-contact .row {
  padding: 60px 0; }
.footer-contact h4 {
  font-family: "Frank Ruhl Libre", sans-serif;
  color: #fff;
  font-size: 20px; }
.footer-contact__subscribe {
  position: relative; }
  .footer-contact__subscribe input {
    width: 100%; }
  .footer-contact__subscribe button {
    color: #fff;
    padding: 0 10px;
    border: none;
    background-color: #0b3d24;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    font-size: 14px;
    line-height: 46px;
    height: 46px;
    font-size: 14px; }
    .footer-contact__subscribe button:hover {
      background-color: #fff;
      color: #0b3d24; }
  .footer-contact__subscribe label.error {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #868b98; }
.footer-contact__copyright {
  color: #868b98;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  font-size: 13px; }
  .footer-contact__copyright a {
    color: #868b98;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .footer-contact__copyright a:hover {
      color: #fff; }
.footer-contact__law a {
  margin-right: 7px; }
.footer-contact__info {
  padding-bottom: 20px;
  width: 100%; }
  .footer-contact__info a {
    color: #868b98;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .footer-contact__info a:hover {
      color: #fff; }
  .footer-contact__info p {
    margin-bottom: 0;
    color: #868b98; }

@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    transform: scale3d(0, 0, 0); }
  60% {
    opacity: 0.6;
    transform: scale3d(1, 0, 0); }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }
@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    transform: scale3d(0, 0, 0); }
  60% {
    opacity: 0.6;
    transform: scale3d(1, 0, 0); }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }
.slick-active .slide-content {
  animation-name: fadeInUpSD;
  animation-duration: 2s; }

/*# sourceMappingURL=main.css.map */
