@import "./mixin.scss";

html {
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
  color: #999;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}
ul {
  list-style: none;
  margin-bottom: 0;
}

input:focus,
button:focus,
textarea:focus,
.slick-slide:focus,
select:focus,
img:focus {
  outline: none;
}

input,
textarea {
  text-indent: 10px;
  font-size: 15px;
}
label {
  margin-bottom: 0;
  cursor: pointer;
}
