.header-fixed {
  background-color: transparent;
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: relative;
  z-index: 1;
}
.header__icon-group svg {
  margin: 0 7px;
  cursor: pointer;
  font-size: 18px;
}
.header__icon-mobile {
  cursor: pointer;
  font-size: 18px;
}
#main-menu {
  top: 70px;
  position: absolute;
  width: 100%;
  transition: 0.3s;
  left: -2000px;
  border-radius: 0;
  padding-bottom: 10px;
}

@media (min-width: 1200px) {
  #main-menu {
    margin-top: 0;
    width: auto;
    position: unset;
  }
  .sm-clean {
    background-color: transparent;
  }
}

/* setting default */

@media (min-width: 1200px) {
  /* prevent text rendering degrade during animation in Mac browsers */
  #main-menu {
    -webkit-font-smoothing: subpixel-antialiased;
  }
  /* show animation */
  #main-menu ul.show-animation {
    -webkit-animation: show-animation 0.2s;
    animation: show-animation 0.2s;
  }
  @-webkit-keyframes show-animation {
    0% {
      -webkit-transform: scale3d(0, 0, 1);
      opacity: 0;
    }
    60% {
      -webkit-transform: scale3d(1.05, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
  @keyframes show-animation {
    0% {
      transform: scale3d(0, 0, 1);
      opacity: 0;
    }
    60% {
      transform: scale3d(1.05, 1.05, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
  /* hide animation */
  #main-menu ul.hide-animation {
    -webkit-animation: hide-animation 0.2s;
    animation: hide-animation 0.2s;
  }
  @-webkit-keyframes hide-animation {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale3d(0, 0, 0);
      opacity: 0;
    }
  }
  @keyframes hide-animation {
    0% {
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
    100% {
      transform: scale3d(0, 0, 0);
      opacity: 0;
    }
  }
}
