@import "./mixin.scss";

@media (min-width: 414px) {
  .rooms__list-booking {
    padding: 30px;
  }
}
@media (min-width: 720px) {
  .header-booking__group {
    .header-booking__item {
      width: 20%;
    }
  }
  .header-booking__item {
    width: 20%;
  }
}
@media (min-width: 768px) {
  .footer-contact__info {
    width: 33.333333%;
    float: left;
  }
  .footer-contact__copyright {
    justify-content: space-between;
    flex-direction: inherit;
  }
  .footer-social__logoSocial {
    @include flex-center-vertical();
    justify-content: space-between;
  }
  .book-room h1 {
    font-size: 70px;
  }
  .rooms__list-item {
    width: 50%;
    float: left;
  }
}

@media (min-width: 1024px) {
  .rooms__list-item {
    width: 33.333333%;
    float: left;
  }
}

@media (min-width: 1200px) {
  #main-menu {
    padding-bottom: 0;
  }
  .sm-clean a .sub-arrow {
    background-color: transparent;
  }
  .header-booking__item span::after {
    top: -4px;
  }
  .header-booking__select::after {
    top: 11px;
  }
  .sm-clean a:hover {
    color: $main-color !important;
  }
  span.sub-arrow {
    display: none;
  }
}

@media (max-width: 1199px) {
  #main-menu a {
    color: $text-color !important;
  }
}
