@import "./mixin.scss";

@media (min-width: 768px) {
  .footer-contact__info {
    width: 33.333333%;
    float: left;
  }
  .footer-contact__copyright {
    justify-content: space-between;
    flex-direction: inherit;
  }
  .footer-social__logoSocial {
    @include flex-center-vertical();
    justify-content: space-between;
  }
}
