@import "../mixin.scss";

ul.slick-dots {
  display: none;
}

.service {
  // for title ---------------------->
  &__title {
    margin-bottom: 70px;
    text-align: center;
    position: relative;
    h1 {
      font-size: 36px;
      line-height: 46px;
    }
    p {
      font-size: 12px;
      font-family: $font-content;
    }
  }
  &__line {
    @include center-block();
    margin: 10px 0;
    height: 1px;
    width: 100px;
    background-color: #d7dadd;
  }

  // for content ---------------------->
  &__hook-01,
  &__hook-02 {
    background-position: center center;
    background-size: cover;
    padding: 30px;
  }
  &__hook-01 {
    background-image: url(/images/room/room-01.jpg);
  }
  &__hook-02 {
    background-image: url(/images/room/room-02.jpg);
  }
  &__block {
    background-color: #fff;
  }
  &__block-center {
    padding: 20px;
  }
  &__block-title {
    font-size: 28px;
    text-align: center;
    padding-bottom: 15px;
  }
  &__block-desc {
    font-family: $font-content;
    ul {
      list-style: inside;
    }
  }

  // for group icon ---------------------->
  &__icon {
    padding: 60px 0 45px;
  }
  &__icon-item {
    @include flex-center-column();
    text-align: center;
    color: $main-color;
    svg {
      font-size: 36px;
    }
  }

  // for reserve ---------------------->
  &__reserve {
    background-color: #f7f7f7;
    padding: 60px 0;
    text-align: center;
  }
  &__reserve-title {
    font-size: 36px;
    line-height: 46px;
    color: $main-color;
  }
  &__reserve-block {
    @include flex-center-horizon();
  }
  &__reserve-line {
    height: 1px;
    width: 100px;
    background-color: $main-color;
  }
  .header-booking {
    margin: 40px 0;
  }
}

// style for rooms details ------------------- >
.parallax {
  /* The image used */
  background-image: url("/images/room/room-07.jpg");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rooms-banner {
  &__group {
    position: relative;
    top: -70px;
  }
  &__title {
    @include center-block();
    color: #fff;
    text-align: center;
    p {
      font-family: $font-content;
    }
  }
}
